.App {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  min-height: 100vh;
  max-height: 1000px;
  box-sizing: border-box;
}

#welcome {
  width: 150px;
}

#Newpost {
  border: 1px solid #ddd;
  background: #ffffff;
  height: auto;
  margin-top: 40px;
  padding: 50px;
  width: 600px;
}

#login {
  border: 1px solid #ddd;
  background: #ffffff;
  height: auto;
  margin-top: 80px;
  padding: 50px;
  width: 400px;
}

#form-footer {
  text-align: center;
  padding-top: 50px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
